*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes loading{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes prolado{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes damatch{
    0%{
        opacity: 1;
        height: 90px;
        width: 90px;
    }
    25%{
        opacity: 1;
        height: 100px;
        width: 100px;
    }
    50%{
        opacity: 1;
        height: 90px;
        width: 90px;
    }
    75%{
        opacity: 1;
        height: 100px;
        width: 100px;
    }
    100%{
        opacity: 0;
        height: 90px;
        width: 90px;
    }
}

#titulo{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 12px;
}

#titulo img{
    height: 80px;
    width: auto;
    margin-bottom: 1.2rem;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Kadwa", Helvetica, sans-serif;
    color: black;
    background-color: rgb(255, 155, 189);
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 422px;
    border-radius: 17px;
    background: rgb(255, 91, 176);
    padding: 2.2rem;
}

#descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.troca{
    transform: translateX(-40%);
    transition: transform 0.5s ease-in-out;
    animation: prolado 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.novo{
    animation: loading 0.5s ease-in-out;
    transform: translateX(0);
    opacity: 1;
    pointer-events: none;
}

#nome{
    font-size: 45px;
    font-weight: 650;
}

#imgdog{
    height: 300px;
    width: 350px;
    object-fit:cover;
    justify-self: center;
    border-radius: 17px;
    margin-bottom: 10px;
}

.dados{
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: -17px;
}

.botao{
    width: 10rem;
    height: 4rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.botao:hover{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.botao img{
    width: 24px;
    height: 24px;
}

#descarte{
    background-color: red;
}

#match{
    background-color: green;
}

#botoes{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;

}

#shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 2;
    animation: loading 1s;
}

#pop-up{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 622px;
    width: 522px;
    animation: loading 1s;
}

#pop-up h1, #pop-up h2{
    font-size: 30px;
    text-align: center;
}

#pop-up b{
    color: white;
    font-size: 40px;
}

#selecao{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

#cao{
    background-color: rgb(173, 214, 230);
}

#cadela{
    background-color: rgb(255, 135, 175);
}

#deumatch {
    z-index: 4;
    width: 100px;
    height: 100px;
    opacity: 0;
}

#boxmatch{
    justify-content: center;
    align-items: center;
    display: flex;
}

#deumatch, #boxmatch{
    pointer-events: none;
}

#match, #descarte{
    pointer-events: auto;
}

@media (max-width: 461px){
    .container{
        height: 535px;
        width: 322px;
    }

    #imgdog {
        height: 220px;
        width: 270px;
    }

    .dados{
        font-size: 22px;
        margin-bottom: -19px;
    }

    #nome{
        font-size: 35px;
    }

    .botao{
        width: 8rem;
        height: 3rem;
    }

    .botao img{
        width: 20px;
        height: 20px;
    }

    #pop-up{
        height: 550px;
        width: 330px;
        padding: 30px;
        justify-content: space-between;
        align-self: center;
        margin-top: -40px;
    }

    #selecao{
        gap: 4px;
        flex-direction: column;
    }

    #pop-up h1, #pop-up h2{
        font-size: 22px;
    }

    #pop-up h1 b{
        font-size: 27px;
    }

    #deumatch{
        width: 70px;
        height: 70px;
        top: 22.5%;
    }

    @keyframes damatch{
        0%{
            opacity: 1;
            height: 70px;
            width: 70px;
        }
        25%{
            opacity: 1;
            height: 77px;
            width: 77px;
        }
        50%{
            opacity: 1;
            height: 70px;
            width: 70px;
        }
        75%{
            opacity: 1;
            height: 77px;
            width: 77px;
        }
        100%{
            opacity: 0;
            height: 70px;
            width: 70px;
        }
    }

    #proibido h2{
        font-size: 18px;
    }
}